@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 60px;
    align-items: center;
}

.logo-container,
.nav-links,
.quick-search {
    display: flex;
}

.logo-container {
    flex: 2;
}

form {
    flex: 0.1;
}

nav {
    flex: 1;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

main {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(180, 156, 156);
}

.popular-text,
.recent-text {
    width: 90%;
    margin: auto;
}

.text-row {
    display: flex;
    align-items: center;
}

.text-row h2 {
    flex: 1;
}

.row {
    display: flex;
    width: 90%;
    margin: auto;

}

.movie {
    width: 250px;
}

.movie-main {
    width: 350px;
}

.movie-box {
    text-decoration: none;
    text-align: left;
}

.movie-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.movie-text {
    flex: 0.5;

}

.recent-text {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(180, 156, 156);
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

.movie-main {
    margin-top: 20px;
}

.movie-text h1 {
    font-weight: 900;
}

.movie-text h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.movie-text h5 {
    font-weight: 400;
    margin-top: 5px;
}

.info {
    margin-bottom: 20px;
    margin-top: 20px;
}

.crew {
    margin-top: 40px;
    margin-left: 20px;
}

.tableCell a{
    text-decoration: none;
    color: black;
}

.trailer{
    flex: 1;
}

.reviews{
    flex: 1;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85;
}